body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.callout-container {
    height: 100vh;
    background: url(../images/whiskey-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.opaque-overly {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper {

}

.container-wrapper--purple {
    background-color: #ff770750;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-btn {
    border-radius: 16px;
    width: 100px;
    border: 0;
    background-color: #ff7707;
    color: #fff;
}

.navbar-btn:hover {
    color: #fff;
    background-color: #d86404;
    border-color: #ff7707;
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block Dividers */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #ff7707;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #fff;
    background-color: #ff7707;
    border-color: #ff7707;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus {
    color: #fff;
    background-color: #d86404;
    border-color: #ff7707;
}

.modal-body .btn {
    border-radius: 16px;
    font-weight: bold;
    background-color: #ff7707;
    border-color: #ff7707;
}

.modal-body .btn:hover,
.modal-body .btn:active,
.modal-body .btn:focus {
    border-radius: 16px;
    font-weight: bold;
    background-color: #d86404;
    border-color: #ff7707;
}

/* Alerts */

.site-wide-alert {
    color: #8f7800;
    background-color: #ffd600;
    border-color: #ffd600;
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

blockquote.quote {
    border-left: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Features */

.features {
    text-align: center;
    margin-bottom: 40px;
}

.features .glyphicon {
    display: block;
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 20px;
    color: #ff7707;
}

.features .btn {
    min-width: 100px;
    border-radius: 15px;
    border-color: #fff;
    background-color: #fff;
    font-weight: bold;
    color: #ff7707;
    margin-top: 10px;
}

.features h3 {
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);
}